@media screen and (max-width:576px) {
    
    .nav-img,
    .nav-content,
    nav
    {
        flex-direction: column;
    }
    .nav-content,
    .nav-img
    {
        width: 100%;
    }
    .nav-content ,.nav-img{
        margin: 0px;
    }
}
   