@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700;800&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Work Sans', sans-serif;
}

nav {

    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}

.nav-container {
    display: flex;
    max-width: 1920px;
    height: 130px;
}

.nav-img {
    display: flex;
    gap: 20px;
    width: 50%;
    align-items: center;
    margin-right: 240px;

}

.gamer {
    color: #3C354F;
    text-align: center;
    font-size: 18px;
    font-weight: 500;
}

.nav-content {
    display: flex;
    align-items: center;
    text-align: center;

}

.nav-img {
    margin-left: 240px;

}

.content {
    display: flex;
    gap: 32px;

}

.content a {
    text-decoration: none;
    color: #3C354F;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
}


.follow-us {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 300px;
    height: 56px;
    padding: 24px 18px;
    margin-left: 32px;
    margin-right: 240px;
    border-radius: 10px;
    background: rgba(11, 2, 35, 0.10);
}

.icons {
    margin-right: 10px;
    margin-left: 5px;
}

.fa-youtube {
    color: red;
}

.follow {
    color: #3C354F;
    font-size: 1.2rem;
    font-weight: 500;
    margin-right: 24px;
}

.g {
    text-align: center;
    font-size: 2.8rem;
    font-weight: 700;
    color: #FF42A5;
}

.amer {
    color: #0B0223;
    font-size: 2.8rem;
    font-weight: 700;
}

/* header section start */

.banner-container {
    display: flex;
    height: 700px;
}

.banner-content {
    width: 50%;
    height: 100%;
    background-image: url('/images/group\ 14.png');
    background-size: cover;
    text-align: left;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: 240px;
}

.banner-img {
    width: 50%;
    padding: 20px 240px 0 60px;
}

.banner-title {
    color: #0B0223;
    text-align: left;
    font-size: 3rem;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0 0;

}

.banner-title2 {
    text-align: left;
    font-family: Work Sans;
    font-size: 5.9rem;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0 0;
}

.banner-content p {
    color: #534C64;
    text-align: center;
    font-size: 1.25rem;
    ;
    font-weight: 500;
    text-transform: lowercase;
}

.button {
    display: flex;
    justify-content: center;
    gap: 25px;
}

.btn-1 {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    border: none;
    background: linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%);
}

.btn-2 {
    color: #FFF;
    font-size: 1.25rem;
    font-weight: 600;
    text-transform: uppercase;
    padding: 21px 40px;
    border-radius: 48px;
    background: #4EC5F7;
    border: none;
}

/* main section */
.online-games{
    max-width: 1450px;
    margin: 0 auto;
}

.online-games h1 {
    color: #0B0223;
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-top: 120px;
    margin-bottom: 16px;
}

.online-games h1 span {
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
}

.online-games p {
    color: #534C64;
    text-align: center;
    font-size: 1.1rem;
    font-weight: 400;
    margin-bottom: 48px;
}
.image-container {
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  
  .image-wrapper {
    text-align: center;
  }
  
  .image-caption {
    margin-top: 25px;
  }
  